*.pyc
*.png
__pycache__/*
data/datasets/*
.vscode/*
data/models/*
data/logs/*
data/logs_*/*
data/nosaveruns/*
data/logs_indis_filter/*
data/ensemble_logs/*
data/ensemble_mnist17_lr/*
data/poison_data/*.npz
data/*.pth
data/indis_mnist17_models/*
data/indis_mnist17_filter/*
data/label_flip_exps/*
data/indis_mnist17_models_correct/*
data/ensemble_mnist17/*.pth
tboards_*/*
*.json